body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8e2de2, #4a00e0); /* Roxo Neon */
  color: #f0f0f0;
}

header {
  background: #1e1e1e;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #555;
  color: white;
  cursor: pointer;
}

nav button:hover {
  background: #777;
}

main {
  padding: 2rem;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background: #333;
  color: white;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
}

/* Botões de link personalizados */
.link-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.link-buttons a {
  background-color: #ff6f61;
  color: white;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.link-buttons a:hover {
  background-color: #e4574c;
}

footer {
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
